<div class="items-sell-contents">
  <header class="items-sell-header">
    <%= link_to image_tag('furima-logo-color.png' , size: '185x50'), "/" %>
  </header>
  <div class="items-sell-main">
    <h2 class="items-sell-title">商品の情報を入力</h2>
    <%= form_with model: @item, local: true do |f| %>

      <%= render 'shared/error_messages', model: f.object %>

    <%# 出品画像 %>
    <div class="img-upload">
      <div class="weight-bold-text">
        出品画像
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"item-image" %>
      </div>
    </div>
    <%# /出品画像 %>
    <%# 商品名と商品説明 %>
    <div class="new-items">
      <div class="weight-bold-text">
        料理名
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :name, class:"items-text", id:"item-name", placeholder:"商品名（必須 40文字まで)", maxlength:"40" %>
      <div class="items-explain">
        <div class="weight-bold-text">
          商品の説明
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :info, class:"items-text", id:"item-info", placeholder:"商品の説明（必須 1,000文字まで）（食材、賞味期限など）例）比内地鶏のモモ肉を使ったチキンステーキにレモンマスタードソースでさっぱり仕上げてます。本日中にお召し上がりください。" ,rows:"7" ,maxlength:"1000" %>
      </div>
    </div>
    <%# /商品名と商品説明 %>

    <%# 商品の詳細 %>
    <div class="items-detail">
      <div class="weight-bold-text">商品の詳細</div>
      <div class="form">
        <div class="weight-bold-text">
          カテゴリー
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
        <div class="weight-bold-text">
          アレルギー物質
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :allergies, class:"items-text", id:"item-allergies", placeholder:"アレルギー物質が含まれる食材がある場合はこちらに入力してください。無い場合は無しと入力してください。" ,rows:"2" ,maxlength:"1000" %>
      </div>
    </div>
    <%# /商品の詳細 %>

    <%# 販売価格 %>
    <div class="sell-price">
      <div class="weight-bold-text question-text">
        <span>販売価格<br>(¥100〜9,999,999)</span>
        <a class="question" href="#">?</a>
      </div>
      <div>
        <div class="price-content">
          <div class="price-text">
            <span>価格</span>
            <span class="indispensable">必須</span>
          </div>
          <span class="sell-yen">¥</span>
          <%= f.text_field :price, class:"price-input", id:"item-price", placeholder:"例）300" %>
        </div>
        <div class="price-content">
          <span>販売手数料 (10%)</span>
          <span>
            <span id='add-tax-price'></span>円
          </span>
        </div>
        <div class="price-content">
          <span>販売利益</span>
          <span>
            <span id='profit'></span>円
          </span>
        </div>
      </div>
    </div>
    <%# /販売価格 %>

    <%# 店舗情報 %>
    <div class="new-items">
      <div class="weight-bold-text">
        店名
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :store_name, class:"items-text", id:"item-store-name", placeholder:"店名を入力してください" %>
      <div class="items-explain">
        <div class="weight-bold-text">
          店舗住所
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :store_address, class:"items-text", id:"item-store-address", placeholder:"店舗の住所を正しく入力してください" ,rows:"5" ,maxlength:"1000" %>
      </div>
      <div class="items-explain">
        <div class="weight-bold-text">
          お問い合わせ先(電話番号)
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_field :store_phone_number, class:"items-text", id:"item-store_phone_number", placeholder:"問い合わせ用の連絡先を入力ください" ,maxlength:"11" %>
      </div>
      <div class="items-explain">
        <div class="weight-bold-text">
          備考
        </div>
        <%= f.text_area :remarks, class:"items-text", id:"item-remarks", placeholder:"その他備考等がありましたら入力してください" ,maxlength:"1000" %>
      </div>
    </div>
    <%# /店舗情報 %>

    <%# 注意書き %>
    <div class="caution">
      <p class="sentence">
        <a href="#">注意事項</a>
        を必ずご確認ください。
      </p>
      <p class="sentence">
        商品や取引についての不明点は直接販売店へお問い合わせください。
        <a href="#">       イタズラや詐欺行為</a>
        は犯罪であり処罰される可能性があります。
      </p>
      <p class="sentence">
        また、出品をもちまして
        <a href="#">加盟店規約</a>
        に同意したことになります。
      </p>
    </div>
    <%# /注意書き %>
    <%# 下部ボタン %>
    <div class="sell-btn-contents">
      <%= f.submit "変更する" ,class:"sell-btn" %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>
    <%# /下部ボタン %>
  </div>
  <% end %>

  <footer class="items-sell-footer">
    <ul class="menu">
      <li><a href="#">プライバシーポリシー</a></li>
      <li><a href="#">利用規約</a></li>
      <li><a href="#">特定商取引に関する表記</a></li>
    </ul>
    <%= link_to image_tag('furima-logo-color.png' , size: '185x50'), "/" %>
    <p class="inc">
      ©︎Tasukeai Gohan,Inc.
    </p>
  </footer>
</div>