<%= render "shared/header" %>
<div class='main'>

  <%# 画面上部の「人生を変えるフリマアプリ」帯部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
      みんなの「もったいない」を解決
    </h2>
    <p class='service-explain'>
      安くて美味しい料理をいつも近くに
    </p>
    <p class='service-explain'>
      売りたいと食べたいを叶える助け合いアプリです
    </p>
    <div class='store-btn'>
      <%= link_to image_tag("https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2011-09-21&kind=iossoftware&bubble=ios_apps", class:"apple-btn"), "#" %>
      <%= link_to image_tag("dl-android.png", class:"google-btn"), "#" %>
    </div>
  </div>
  <%# /画面上部の「人生を変えるフリマアプリ」帯部分  %>

  <%# FURIMAが選ばれる3つの理由部分 %>
  <div class='select-reason-contents'>
    <h2 class='title'>
      助け合い御飯はみんなが幸せになれるアプリ
    </h2>
    <ul class='reason-lists'>
      <li class='list'>
        <%= image_tag "3418554_s.jpg", class:"list-pict" %>
        <h3 class='reason-list-text'>
          ポイントその
          <span class='reason-list-blue-text'>1</span>
        </h3>
        <p class='reason-list-description'>
          お店側は売りたい料理や商品を簡単出品！
        </p>
      </li>
      <li class='list'>
        <%= image_tag "4182490_s.jpg", class:"list-pict" %>
        <h3 class='reason-list-text'>
        ポイントその
          <span class='reason-list-blue-text'>2</span>
        </h3>
        <p class='reason-list-description'>
          買う側は簡単検索で地域や店舗や食べ物を探せる！
        </p>
      </li>
      <li class='list'>
        <%= image_tag "1274827_s.jpg", class:"list-pict" %>
        <h3 class='reason-list-text'>
          ポイントその
          <span class='reason-list-blue-text'>3</span>
        </h3>
        <p class='reason-list-description'>
          売りたい悩み、買いたい悩み双方を解決！
        </p>
      </li>
    </ul>
  </div>
  <%# /FURIMAが選ばれる3つの理由部分 %>

  <%# 画面中央の「会員数日本一位」帯部分 %>
  <div class='ad-contents'>
    <h2 class='ad-title'>
      助け合い御飯が生まれた背景
    </h2>
    <p class='ad-explain'>
      豊かな食生活をおくれている昨今、消費者の目に見えない所では捨てられる食材が多くあります。
    </p>
    <p class='ad-explain'>
      そんな作りすぎた料理や廃棄予定の食材をどうにかしたいと思う人々の要望にお答えしようと
    </p>
    <p class='ad-explain'>
      この「助け合い御飯」が生まれました。地球にも財布にもやさしいアプリです！
    </p>
  </div>
  <%# /画面中央の「会員数日本一位」帯部分 %>

  <div class='item-contents'>
    <h2 class='title'>出品料理一覧</h2>
    <%= link_to '新規出品商品順', root_path, class: "subtitle" %>
    <ul class='item-lists'>
      <% @items.each do |item| %>
      <li class='list'>
        <%= link_to user_path(item.user_id) do %>
          出品者: <%= item.user.nickname %>
        <% end %><br>
          出品店: <%= item.store_name %>
        <%= link_to item_path(item.id) do %>
        <div class='item-img-content'>
          <%= image_tag item.image, class: "item-img" %>

          <div class='sold-out'>
            <% if item.buyer_history.present? %>
            <span>売れました!</span>
            <% end %>
          </div>

        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= item.name %>
          </h3>
          <div class='item-price'>
            <span><%= item.price %>円</span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
        <% end %>
        <% end %>
      </li>

      <% if @items.length == 0 %>
      <li class='list'>
        <%= link_to '#' do %>
        <%= image_tag "IMG_1797.JPG", class: "item-img" %>
        <div class='item-info'>
          <h3 class='item-name'>
            商品を出品してね！
          </h3>
          <div class='item-price'>
            <span>99999999円<br>(税込み)</span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
</div>
<%= link_to(new_item_path, class: 'purchase-btn') do %>
  <span class='purchase-btn-text'>出品する</span>
  <%= image_tag 'IMG_1798.JPG' , size: '185x50' ,class: "purchase-btn-icon" %>
<% end %>
<%= render "shared/footer" %>