<%= render "shared/header" %>

<%# 商品の概要 %>
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @item.name %>
    </h2>
    <div class="item-img-content">
      <%= image_tag @item.image, class:"item-box-img" %>
      <div class="sold-out">
        <% if @item.buyer_history.present? %>
          <span>売れました!</span>
        <% end %>
      </div>
    </div>
    <div class="item-price-box">
      <span class="item-price">
        ¥ <%= @item.price %>
      </span>
    </div>

    <% if user_signed_in? && @item.buyer_history.blank? %>
      <% if current_user.id == @item.user_id %>
        <%= link_to "商品の編集", edit_item_path(@item.id), method: :get, class: "item-red-btn" %>
        <p class="or-text">or</p>
        <%= link_to "削除",  item_path(@item.id), method: :delete, class:"item-destroy" %>
      <% else %>
        <%= link_to "購入画面に進む", item_purchases_path(@item.id) ,class:"item-red-btn"%>
      <% end %>
    <% end %>

    <div class="item-explain-box">
      <span><%= @item.info %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">出品者</th>
          <td class="detail-value"><%= link_to user_path(@item.user_id) do %>
            <%= @item.user.nickname %>
          <% end %>
          </td>
        </tr>
        <tr>
          <th class="detail-item">カテゴリー</th>
          <td class="detail-value"><%= @item.category.name %></td>
        </tr>
        <tr>
          <th class="detail-item">アレルギー物質</th>
          <td class="detail-value"><%= @item.allergies %></td>
        </tr>
        <tr>
          <th class="detail-item">販売店名</th>
          <td class="detail-value"><%= @item.store_name %></td>
        </tr>
        <tr>
          <th class="detail-item">販売店住所</th>
          <td class="detail-value"><%= @item.store_address %></td>
        </tr>
        <tr>
          <th class="detail-item">お問い合わせ</th>
          <td class="detail-value"><%= @item.store_phone_number %></td>
        </tr>
        <tr>
          <th class="detail-item">備考</th>
          <td class="detail-value"><%= @item.remarks %></td>
        </tr>
      </tbody>
    </table>
    <div class="option">
      <div class="favorite-btn">
        <%= image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
        <span>お気に入り 0</span>
      </div>
      <div class="report-btn">
        <%= image_tag "flag.png" ,class:"report-flag-icon" ,width:"20",height:"20"%>
        <span>不適切な商品の通報</span>
      </div>
    </div>
  </div>
  <%# /商品の概要 %>

  <div class="links">
    <a href="#" class="change-item-btn">
      ＜ 前の商品
    </a>
    <a href="#" class="change-item-btn">
      後ろの商品 ＞
    </a>
  </div>
  <a href="#" class="another-item"><%= @item.category.name %>をもっと見る</a>
</div>

<%= render "shared/footer" %>
